<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<span th:replace="~{fragments/head}"/>
<span th:replace="~{fragments/navbar}"/>

<body>

<div class="main-content mt-0">
  <div class="card shadow-sm border-0" >
    <div class="col-md-12">

        <div class="card-header bg-success text-white text-center">
          <h4 class="mb-0">✅ Solicitação Enviada com Sucesso!</h4>
        </div>

        <div class="card-body">
          <!-- Alerta para atualização da página -->
          <div id="conteudoPdf">
            <p class="text-center">Será enviado para o seu e-mail os próximos passos da solicitação.</p>

            <!-- Detalhes da Solicitação -->
            <!--          <div class="p-3 bg-light rounded">-->
            <h5><strong>📌 Nome:</strong> <span th:id="solicitacaoNome" th:text="${solicitacao.nome}"></span></h5>
            <h5><strong>📄 CPF:</strong> <span th:id="solicitacaoCpf" th:text="${solicitacao.cpf}"></span></h5>
            <h5><strong>🏛 Concurso ou Processo Seletivo:</strong>
              <span th:id="solicitacaoConcurso" th:text="${solicitacao.concurso}"></span></h5>
            <h5><strong>📌 Tipo do Assunto:</strong>
              <span th:id="solicitacaoTipo" th:text="${solicitacao.tipoAssunto}"></span></h5>
            <h5><strong>🔢 N.° da Solicitação:</strong>
              <span th:id="solicitacaoId" th:text="${id}"></span></h5>
            <h5><strong>📅 Data da Solicitação:</strong>
              <span th:id="solicitacaoData" th:text="${data}"></span></h5>
            <h5><strong>📝 Solicitação:</strong></h5>
            <h3 th:id="solicitacaoTexto" style="white-space: pre-line;" th:text="${solicitacao.solicitacao}"></h3>

          </div>
          sadsadsad

<!--          </div>-->




        </div>

    </div>
  </div>
</div>

<div th:replace="~{fragments/script}"/>

<script>




</script>
</body>
</html>
